/* src/app/page.module.css */
.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0rem;
  font-family: "Courier New", Courier, monospace;
  background-color: #E0C1B3;
  color: #5A4044;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 4rem;
  margin-top: -4rem;
  padding-bottom: 1rem;
  background-color: #AEB4A9;
  border-radius: 15rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.main::before,
.main::after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  background-image: linear-gradient(45deg, #C15273 25%, transparent 25%),
                    linear-gradient(-45deg, #C15273 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #C15273 75%),
                    linear-gradient(-45deg, transparent 75%, #C15273 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.main::before {
  top: 0;
}

.main::after {
  bottom: 0;
}


.title {
  font-size: 3rem;
  color: #C15273;

  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.section {
  grid-column: span 4;
}

.sectionTitle {
  font-size: 2rem;
  color: #C15273;
  padding-bottom: 0.5rem;
  text-align: center;

  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.sectionContent {
  border: 4px dotted #5A4044;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
}

.sectionImage {

}

.sectionImage img {
  object-fit: cover;
  margin-left: -3rem;
  margin-right: -3rem;
}

.beefBabiesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.beefBaby {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.beefBabyBio {
  padding: 1rem;
  min_width: 150px;
  flex-grow: 1; 
}

.beefBabyImage {
  border-radius: 50%;
  border: 4px solid #C15273;
  flex-grow: 0; 
}

.beefBabyName {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.blogPost {
  margin-bottom: 1.5rem;
}

.blogPostTitle {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.blogPostDate {
  font-style: italic;
  color: #5A4044;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  .beefBaby {
    flex-direction: column;
  }
}

