/* src/app/page.module.css */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Courier New", Courier, monospace;
  background-color: #E0C1B3;
  color: #5A4044;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  color: #C15273;
}

.subtitle {
  font-size: 1.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.section {
  width: 45%;
}

.sectionTitle {
  font-size: 2rem;
  color: #C15273;
  padding-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.sectionContent {
  border: 4px dotted #5A4044;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
}

.beefBabiesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.beefBaby {
  text-align: center;
}

.beefBabyImage {
  border-radius: 50%;
  border: 4px solid #C15273;
}

.beefBabyName {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.blogPost {
  margin-bottom: 1.5rem;
}

.blogPostTitle {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.blogPostDate {
  font-style: italic;
  color: #5A4044;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .section {
    width: 100%;
    margin-bottom: 2rem;
  }
}
